      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

.commitlink {
	float: right;
	border-right: 2px solid red;
	padding-right: 4px;
}

.commitlog {

}

.feedItem {
	margin-top: 20px;
	clear: left;
}

.feedAuthor {
	font-size: 1.2em;
	float: left;
	width: 10%;
	margin-top: 10px;
}

.feedRBox {
	float: left;
	width: 88%;
	margin-top: 10px;
}

.feedTitle {
	font-size: 1.5em;
}

.feedTitle a:link, .feedTitle a:active, .feedTitle a:visited {
	color: orange;
}

.feedTitle a:hover {
	color: black;
}

.feedCreated {

}

.feedData {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 4px;
}

.feedList .feedItem:nth-child(2n+1) .feedData {
	background-color: #eee;
}
